
  <div ng-controller = 'animalController'>
    <form>
      <input type="text" id='petNameIn' ng-model='petNameIn' placeholder="Pet Name"name="name" value="">
      <input type="text" id='petTypeIn' ng-model='petTypeIn'placeholder="Pet Species (e.g. Dog, Cat)"name="name" value="">
      <input type="number" id='petAgeIn' ng-model='petAgeIn'placeholder="Pet Age"name="name" value="">
      <input type="text" id='petImgIn' ng-model='petImgIn'placeholder="URL to pet picture"name="name" value="">
      <button type="button" ng-click="sendPet()"name="button">Add Pet</button>
    </form>

  </div>
</html>
