<div ng-controller='animalController' ng-init='recvPet()'>
  <md-content class="md-padding" layout-xs="column" layout="row" layout-wrap>
    <md-card ng-repeat="pet in allThePets">
        <div class="md-card" >
           <span class="md-title" id="{{pet._id}}"><strong>Pet Name: </strong> {{pet.pet_name }}</span>
           <td><strong>Pet Kind: </strong> {{pet.pet_kind }}</td>
           <td><strong>Pet Age: </strong> {{pet.pet_age}}</td>
           <td><img style="width:300px;height:300px;"ng-src="{{pet.pet_pic}}" ></td>
           <md-card-actions layout="row" layout-align="end center">
              <md-button>Update</md-button>
              <md-button>Delete</md-button>
           </md-card-actions>
         </div>
    </md-card>
  </md-content>
     <button type="button" ng-click="recvPet()"name="button">See Pets</button>
</div>
